/* font family  */
@font-face {
  font-family: Helvetica;
  src: url(../font/helvetica-light-587ebe5a59211.ttf);
}

:root {
  --primary-color: #4fd1c5;
  --secondary-color: #718096;
  --lable-color: #c4c4c4;
  --placholder-color: #a0aec0;
  --common-white: #ffffff;
  --common-black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background: #14181b;
  min-height: 100vh ;
}

/* START FORM SECTION  */
#form {
  width: 100%;
  min-height: 80vh;
  background-color: #14181b;
  margin-bottom: 100px;
}
.formColOne {
  display: block;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: -340px ;
}

.formColWrapperOne {
  width: 550px;
  min-height:570px;
  padding: 35px;
  border-radius: 12px;
  background: #1d2126;
  position: relative;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}

.formheadingtext p {
  color: #FFF;
text-align: center;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 25.2px */
margin: 20px 0px ;
}


/* copy  */

.input-field {
  position: relative;
}
.input-field input {
  width: 100%;
  height: auto;
  border-radius: 6px;
  font-size: 15px;
  padding: 13px 20px;
  /* border: 2px solid #42dbc9; */
  border-radius: 10px;
  background: var(--common-white);
  color: var(--common-white);
  outline: none;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--secondary-color);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus {
  border: 2px solid var(--primary-color);
  background-color: #1d2126;
}

input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 20px;
  font-size: 14px;
  background: #1d2126;
  padding: 0px 10px;
  color: var(--primary-color);
}

/* start swith button css copy  */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  /* left: -9px; */
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switchBttn .rememberText {
  color: white;
  margin: 0px 0px 0px 10px;
}

/* start submit button css copy  */

.button {
  width: 100%;
  min-height: 40px;
  display: inline-flex;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 10px;
  /* box-shadow: 5px 4px 24px rgba(79,209,197,.64); */
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button::before {
  content: "";
  border-radius: 10px;
  min-width: calc(100% + 5px);
  min-height: calc(40px + 5px);
  border: 4px solid #00ffcb;
  box-shadow: 0 0 30px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #ffffff;
  transform: translateY(-4px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.formFooterText > p {
  color: var(--Gray-Gray-400, #a0aec0);
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin: 20px 0px;
}
.formFooterText > p a {
  color: var(--Teal-Teal-300, #4fd1c5);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-decoration: none;
  transition: .3s ease-in-out;
}
.formFooterText p a:hover {
  padding: 0px 10px ;
}

/* end  */

/* add css  */

.formColTwo {
  min-height: 60vh;
  display: block;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
   border-radius: 15px;
}

.formColWrapperTwo {
  width: 100%;
  height: 500px;
}
.formContent {
  width: 100%;
  height: 80% ;
  background-color: var(--primary-color);
  position: absolute;
  top: 0px;
  right: 0;
  display: flex;
  align-items: start;
  align-content: start;
  justify-content: center;
  /* position: relative; */
  overflow: hidden;
  border-radius: 15px ;
}
.logoText{
  max-width: 450px ;
  margin-top: 40px;
}
.logoText > h1 {
  color: #fff;
  font-size:45px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 88.176px */
  margin: 20px 0px 0px 0px ;
}
.logoText > p {
  
  color: var(--black-amp-white-white, #FFF);
text-align: center;
font-family: Helvetica;
font-size: 18.852px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 26.393px */
}

.formContent img[alt="img"] {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.switchBttn{
  display: flex;
  align-items: center;
  align-content: center;
  
  }

  @media screen and (max-width: 992px) {
    .formColOne{
      width: 100% !important;
      display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
      
    }
  
    .input-field, .wrap {
      margin: 30px 0px  !important;
    }
  
    .formColWrapperOne {
      
      margin: 0px 20px ;
    }
    .formColOne {
      
      margin-top: -350px ;
    }

  
  }
  


/* END FORM SECTION  */

/* sign-up add css */

.icon > a {
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255) ;
  padding: 15px ;
  display: inline-block;
  border-radius: 12px ;
  transition: .3s ease-in-out;
  overflow: hidden;
  
}
.icon > a:hover {
  background: var(--primary-color);
  border: none ;
  border-radius: 2px 10px 2px 10px;
  border: 1px solid transparent ;
}
.icon > a img {
  width: 30px ;
  transition: .3s ease-in-out;
  
}
.icon a[alt|="icone-"]{
  margin: 0px 15px ;
}
.icon + p{
  color: var(--Gray-Gray-400, #A0AEC0);
text-align: center;
font-family: Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 25.2px */
margin: 15px 0px ;
}

.icon a:hover img{
 transform: scale(1.3);
}