.dropdownMenu{
    display: none;
}
.dropdown{
    position: relative;
}
.dropdown:hover .dropdownMenu{
    display: block;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 120px;
    text-align: center;
    top: 40px;
    left: 0;
}
.dropdownMenu ul li a{
    color: white;
    padding: 10px;
    display: block;
}
.dropdownMenu ul li a:hover{
    background-color: red;
}